

body{
    /* background-color: #473030; */
    background-color: #C73232;
	font-family: Palatino;
	margin: 0;
	padding: 0;
}

h2{
    text-align: center;
}

#header-container{
    width: 1200px;
    margin: 0 auto;
    height: 80px;
}

.header-bar{
    background-color: #8C0000;
    color: #FFF7F7;
    text-shadow: -1px -2px #000, 1px 2px 1px #000, -1px 2px 1px #000, 1px -2px 1px #000;
    height: 80px;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
}

.header-bar img{
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

.header-bar h1{
    float: left;
}

.header-bar ul{
    font-size: 15px;
    list-style-type: none;
    text-align: center;
    display:inline-block;
    overflow: hidden;
    vertical-align:top;
  
}
.header-bar li {
    float: right;
}

.header-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#title{
    /* text-align:center; */
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 20px;
}

#sidebar{
    background-color: #FFF7F7;
    color: #ffffff;
    width: 200px;
    height: 200px;
    position: absolute;
    margin: 10px;
    margin-left: 80px;
    border: #0F0000;
    border-style: solid;
    border-radius: 10px;
}

#sidebar a{
    color: #8C0000;
    text-decoration: none;
}


#infoBlock{
    background-color: #FFF7F7;
    width: 70%;
    height: auto;
    position: absolute;
    margin: 10px;
    margin-left: 300px;
    border: #0F0000;
    border-style: solid;
    border-radius: 10px;
}

.content{
    margin: 20px;
    
}

table, th, td {
    /* border: 1px solid #ddd; */
    border-collapse: collapse;
    text-align: center;
}
th {
    font-size: 18px;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;    
}

td img{
    width: 150px;
    height: 75px;
}
tr:nth-child(even) {background-color: #f2f2f2;}