

body{
    /* background-color: #473030; */
    background-color: #C73232;
	font-family: Palatino;
	margin: 0;
	padding: 0;
}

h2{
    text-align: center;
}

.container{
    margin: auto;
}

.header{
    background-color: #8C0000;
    color: #FFF7F7;
    text-shadow: -1px -2px #000, 1px 2px 1px #000, -1px 2px 1px #000, 1px -2px 1px #000;
    height: 80px;
    margin:0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
}

.header img{
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-top: 10px;
}

#title{
    /* text-align:center; */
    margin-left: 80px;
    margin-top: 0px;
    padding-top: 20px;
}

#sidebar{
    background-color: #FFF7F7;
    color: #ffffff;
    width: 200px;
    height: 100%;
    position: absolute;
    margin: 10px;
    margin-left: 80px;
    border: #0F0000;
    border-style: solid;
    border-radius: 10px;
}

#infoBlock{
    background-color: #FFF7F7;
    width: 70%;
    height: auto;
    position: absolute;
    margin: 10px;
    margin-left: 300px;
    border: #0F0000;
    border-style: solid;
    border-radius: 10px;
}

.content{
    margin: 20px;
    
}

table, th, td {
    /* border: 1px solid #ddd; */
    border-collapse: collapse;
    text-align: center;
}
th {
    font-size: 18px;
}
th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;    
}

td img{
    width: 150px;
    height: 75px;
}
tr:nth-child(even) {background-color: #f2f2f2;}