body {
    background-color: #0D0208;
    /* background-color: #1F2421; */
    color: #008F11;
    /* background-image: url("./resources/MatrixBackground.jpg") */
}

#container{
    width: 100%;
}

#header {
    text-align: center;
    font: normal 28px/30px "MATRIX", sans-serif;
}


#controller {
    /* background-color: #008F11; */
    text-align: center;
    height: 50px;
}

#controller button{
    margin: 10px;
    padding: 5px;
}

#photo {
    display: inline-block;
}

canvas {
    margin: auto;
    display: block;
    padding: 25px;
    padding-left: 100px;
}

#player {
    position: absolute;
    width: 250px;
    height: 250px;
    top: 200px;
    right: 100px;
}

#strip {
    height: 100px;
    width: 100%;
}

#strip a img{
    height: 100%;
    width: 150px;
    margin: 10px;
}